<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ania & Radek - May 21st 2016</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://www.aniairadek.info/assets/css/bootstrap.min.css" rel="stylesheet">


    <link href="http://www.aniairadek.info/lightbox/magnific.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://www.aniairadek.info/assets/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://www.aniairadek.info/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="http://www.aniairadek.info">Ania i Radek</a>
        </div>

    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Services Section -->
<section id="thank-you">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% if success %}Confirmed!{% else %}Confirm Failed{% endif %}</h2>
                <img src="http://www.aniairadek.info/img/home/aniairadek.jpg" class="img-responsive center-block" alt="">

                <h3 class="section-subheading text-muted">{{ message }}</h3>

            </div>
        </div>

    </div>
</section>



<!-- Footer -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center copyright">
                <!--<span>© radtek.ca 2016</span>-->
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="http://www.aniairadek.info/assets/jsjquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://www.aniairadek.info/assets/jsbootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://www.aniairadek.info/assets/js/classie.js"></script>
<script src="assets/js/cbpAnimatedHeader.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="http://www.aniairadek.info/assets/jsjqBootstrapValidation.js"></script>
<script src="http://www.aniairadek.info/assets/jsrsvp.js"></script>



<!-- Custom Theme JavaScript -->
<script src="http://www.aniairadek.info/assets/jsagency.js"></script>

<!-- Map scrolling disable -->
<script>
       $(document).ready(function () {

            // Create map and canvas pointers
            var $maps = $("#map_canvas1, #map_canvas2");
            var $canvas = $("#canvas1, #canvas2");
            var isScroll = false;

            function scrollOn() {
                $maps.removeClass('scrolloff');
                isScroll = true;
            }

            function scrollOff() {
                $maps.addClass('scrolloff');
                isScroll = false;
            }

            scrollOff();

            $canvas.on('click', function () {
                scrollOn();
            });

            $maps.mouseleave(function (){ scrollOff(); });

        });

</script>

<!-- Hide/show no of guests -->
<script>
       $(document).ready(function () {

            var $no_guests = $("select#no_guests");
            var $attending = $("select#attending");

            $attending.change(function() {
              if ($attending.val() == 0) {
                  $no_guests.parent().addClass('hide');
              }
              else {
                  $no_guests.parent().removeClass('hide');
              }
            });

        });

</script>

<!-- Magnific Popup -->
<script>
      $(document).ready(function() {
        $('.popup-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          tLoading: 'Loading image #%curr%...',
          mainClass: 'mfp-img-mobile',
          gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
          },
          image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
            titleSrc: function(item) {
//              return item.el.attr('alt') + '<small>by Margaret Balcerzak</small>';
              return "" + '<small>by Margaret Balcerzak</small>';
            }
          }
        });
      });


</script>

<!-- GA -->
<script>
      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38507020-6', 'auto');
      ga('send', 'pageview');

</script>

</body>

</html>
